

.nearDateSpan{
    font-weight: bold;
    color: white;
}
.addTreningStyle {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-bottom: 2px solid #852EA1;
    box-sizing: border-box;
}

.callendarNew {
    width: 200px !important;
    height: 20px !important;
   align-content: flex-start;

}

#chartContainer1{
    margin: auto;
    float:left;
    width:50%;
    padding-left:10px;

}
#chartContainer2{
    margin-left: 10px;
    padding-left:10px;
    float:left;
    width:50%;

}

#chartContainer3{
    padding-left:10px;
    clear: both;
    float: left;
    display: block;
    position: relative;
    padding-top: 12px;
}
#chartContainer4{
    padding-top: 12px;
    padding-left:10px;
    margin-left: 10px;
    float:left;
    width:50%;
}
 /* Temporary CSS delete attribute when change overlap from statistic ! */
#mainContentDiv{
    margin-top : 10px !important;
    padding: 10px 10px !important;
}

.form-control:focus{
    background: #212842 !important;
    border: none !important;
    color: white !important;
}
.dark-edition .form-control,
.is-focused .dark-edition .form-control {
    background: #212842;
    border: none;
    background-image: linear-gradient(to top, #9c27b0 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, rgba(180, 180, 180, 0.1) 1px, rgba(180, 180, 180, 0) 1px) !important;
}

#mapid {
    height: 680px;
    width: 1555px;
}


.gpx {
    border: 2px #aaa solid;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px #ccc;
    width: 1555px;
}

.gpx header {
    padding: 0.5em;
}

.gpx h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.gpx .start {
    font-size: 14px;
    color: white;
}

.gpx .map {
    border: 1px #888 solid;
    border-left: none;
    border-right: none;
    width: 1555px;
    height: 690px;
    margin: 0;
}

.gpx footer {
    background: #f0f0f0;
    padding: 0.5em;
}

.gpx ul.info {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: smaller;
}

.gpx ul.info li {
    color: #666;
    padding: 2px;
    display: inline;
}

.gpx ul.info li span {
    color: black;
}

.col-md-12 {
    width: 60px;
}

body {
    overflow: hidden;
}

#traningDate1 , #traningDate2{
    cursor: pointer;
    hight: 20px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#agregationTabItem {
    cursor: pointer;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.inpField{
    background-color:#212842;
    color:#8B92AC;
}



