<!--
=========================================================
* Material Dashboard Dark Edition - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard-dark
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="dashboard/img/apple-icon.png">
    <link rel="icon" type="image/png" href="dashboard/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>

    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="dashboard/css/material-dashboard.css?v=2.1.0" rel="stylesheet"/>
    <link href="dashboard/css/custom.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <link rel="stylesheet" href="dashboard/css/checkbox/checkbox.css"/>
    <link rel="stylesheet" type="text/css"  href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"/>
    <!-- temp -->


</head>

<body class="dark-edition">
<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="dashboard/img/sidebar-2.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
            <div class="simple-text logo-normal">
                Cycling Diary
            </div>
        </div>
        <div class="sidebar-wrapper">

            <ul class="nav" id="mainNav">

                <li class="nav-item active" id="trainingListButton" >
                    <a class="nav-link" href="#">
                        <i class="material-icons">directions_bike</i>
                        <p>Training List</p>
                    </a>

                </li>
                <li class="nav-item" id="classificationButton" >
                    <a class="nav-link" href="#">
                        <i class="material-icons">compare_arrows</i>
                        <p>classification</p>
                    </a>

                </li>
                <li class="nav-item" id="statisticButton" >
                    <a class="nav-link" href="#">
                        <i class="material-icons">bar_chart</i>
                        <p>Statistic</p>
                    </a>

                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/logout}">
                        <i class="material-icons">power_settings_new</i>
                        <p>Logout</p>
                    </a>
                </li>
                <!-- <li class="nav-item active-pro ">
                      <a class="nav-link" href="./upgrade.html">
                          <i class="material-icons">unarchive</i>
                          <p>Upgrade to PRO</p>
                      </a>
                  </li> -->
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">

                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="alert alert-success" role="alert" id="trainingAddedSuccesfullAlert"
             style="position: absolute; margin-left:38%;margin-top:50px;display:none">
            Training added successfully
        </div>
        <div class="alert alert-danger" role="alert" id="errorDuringAddedNewTrainingAlert"
             style="position: absolute; margin-left:38%;margin-top:50px;display:none">
            Error Occurred no training added
        </div>
        <div class="content" id="mainContentDiv">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" id="headerCard">
                            <div id="addTrainingLabel" class="card-header card-header-primary">
                                <h4 class="card-title ">Training List</h4>
                                <a id="addTrainingButton" class="nav-link" href="#" align="right" data-toggle="modal" style="float: right; width:176px"
                                   data-target="#addTrainingModal">
                                    <i class="material-icons">control_point</i>
                                </a>
                                <a id="deleteButton" class="nav-link" href="#" align="right" data-toggle="modal" style="float: right; position: absolute; right:50px">
                                    <i class="material-icons">delete</i>
                                </a>

                            </div>
                            <div class="card-body">

                                <!-- Modal -->

                                <div class="modal fade right " id="addTrainingModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalPreviewLabel">Add training</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="newTrainingForm" th:action="@{/app/addNewTraining}"
                                                      method="POST"
                                                      th:object="${training}" enctype="multipart/form-data">
                                                    <div class="alert alert-danger collapse" id="nameAlert"
                                                         role="alert">
                                                        Complete the field !!!
                                                    </div>
                                                    <input type="text" class="addTreningStyle" id="trainingName"
                                                           th:field="*{name}"
                                                           placeholder="Enter the name of the workout">
                                                    <div class="alert alert-danger collapse" role="alert"
                                                         id="placeAlert">
                                                        Complete the field !!!
                                                    </div>
                                                    <input type="text" class="addTreningStyle" id="trainingPlace"
                                                           th:field="*{place}"
                                                           placeholder="Where you been">
                                                    <div class="alert alert-danger collapse" role="alert"
                                                         id="distanceAlert">
                                                        Complete the field !!!
                                                    </div>
                                                    <input type="text" class="addTreningStyle" id="trainingDistance"
                                                           th:field="*{distance}"
                                                           placeholder="distance">
                                                    <div class="alert alert-danger collapse" role="alert"
                                                         id="trainingDateAlert">
                                                        Complete the field !!!
                                                    </div>
                                                    <input type="text" id="traningDate" class="addTreningStyle"
                                                           placeholder="Training date"  th:field="*{trainingDate}"/>
                                                    <div class="alert alert-danger collapse" role="alert"
                                                         id="kcalAlert">
                                                        Complete the field !!!
                                                    </div>
                                                    <input type="text" id="kcal" class="addTreningStyle" placeholder="kcal"
                                                           th:field="*{kcal}"/>

                                                    <div class="alert alert-danger collapse" role="alert"
                                                         id="averageNewAlert">
                                                        Complete the field !!!
                                                    </div>
                                                    <input type="text" id="averageNew" class="addTreningStyle" placeholder="average"
                                                           th:field="*{averageNew}"/>


                                                    <small id="passwordHelpInline" class="text-muted">Enter training
                                                        date </small></br>
                                                    <div class="alert alert-danger collapse" role="alert"
                                                         id="fileAlert">
                                                        Add gpx file!!!
                                                    </div>
                                                    <input type="file" id="choosedFile" value="choose file"
                                                           class="addTreningStyle" accept=".gpx"
                                                           th:field="*{file}">

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="submit" class="btn btn-primary"
                                                                id="saveNewTrening">Save
                                                            changes
                                                        </button>

                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->


                                <div id="trainingDiv" class="table-responsive">
                                    <table class="table" id="trainingTable">
                                        <thead class="text-primary">
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Place
                                        </th>
                                        <th>
                                            Distance
                                        </th>

                                        <th>
                                            Creation Date
                                        </th>
                                        <th>
                                            Training Date
                                        </th>
                                        <th>
                                            Kcal
                                        </th>
                                        <th>
                                           Average
                                        </th>
                                        <th>
                                            Delete
                                        </th>
                                        </thead>
                                        <tbody id="trainingTableBody">
                                        <tr class="trainingOnList" th:each="training,iter : ${trainingList}">
                                            <td th:text="${iter.index + 1}" th:attr="specialId=${training.id}">
                                            </td>
                                            <td th:text="${training.name}">
                                            </td>
                                            <td th:text="${training.place}">
                                            </td>
                                            <td th:text="${training.distance}">
                                            </td>
                                            <td th:text="${training.creationDate}">
                                            </td>
                                            <td th:text="${training.trainingDate}">
                                            </td>
                                            <td th:text="${training.kcal}">
                                            </td>
                                            <td th:text="${training.averageNew}">
                                            </td>
                                            <td class="selectForDelete">
                                                <label class="container" id="deleteContainer">
                                                    <input type="checkbox" class="deleteInput" isChecked="false" th:attr="trainingId=${training.id}">
                                                    <span class="checkmark" checked=""></span>
                                                </label>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script>
            const x = new Date().getFullYear();
            let date = document.getElementById('date');
            date.innerHTML = '&copy; ' + x + date.innerHTML;
        </script>
    </div>
</div>


</div>
<!--   Core JS Files   -->
<script src="dashboard/js/core/jquery.min.js"></script>
<script src="dashboard/js/core/popper.min.js"></script>
<script src="dashboard/js/core/bootstrap-material-design.min.js"></script>
<script src="https://unpkg.com/default-passive-events"></script>
<script src="dashboard/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>


<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="dashboard/js/material-dashboard.js?v=2.1.0"></script>

<-- other -->
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript" src="dashboard/js/transfered.js"></script>
<script src="dashboard/js/togeojson.js"></script>
<script type="text/javascript" src="dashboard/js/custom.js"></script>
<script type="text/javascript" src="dashboard/js/leftPanel.js"></script>
<script type="text/javascript" src="dashboard/js/statistic.js"></script>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"></script>
<script  language="JavaScript" type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"/>
<script  language="JavaScript" type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"/>
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
</body>

</html>